:root {
    --colorDefault: black;
    --colorButtonBackground: lightgrey;
    --colorButtonHover: grey;
    --colorError: red;
}

nav > ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    padding-left: 0;

    li {
        list-style-type: none;
    }
}

/* Book card */
article.card {
    h3, h4 {
        display: inline-block;
        margin: 0;
    }
    h4:before { content: '('; }
    h4:after { content: ')'; }

    header+p {
        margin-top: 0;
    }
}

#error {
    border: thick solid var(--colorError);
    border-radius: 1rem;
    padding: 0 1rem;
}

.validation_error {
    color: var(--colorError);
}

.message {
    border: thin solid var(--colorDefault);
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.button {
    border-radius: 6px;
    padding: 0.5rem 1rem;
    color: var(--colorDefault);
    background-color: var(--colorButtonBackground);

    &:hover {
        background-color: var(--colorButtonHover);
        text-decoration: none;
    }
}